html, body {
  min-height: 100%; }

body {
  padding: 0;
  margin: 0;
  border: none;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  background: #222326 url("ajax-loader.gif") center center no-repeat; }

a {
  color: #2c6481; }

#themeControlBar {
  background-color: #222326;
  color: #DEDEE0;
  padding: 8px 20px 6px;
  height: 28px;
  position: relative;
  z-index: 100; }
  #themeControlBar:after {
    content: "";
    display: table;
    clear: both; }
  #themeControlBar .logo-w {
    float: left;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 24px; }
    #themeControlBar .logo-w img {
      height: 34px;
      float: left; }
    #themeControlBar .logo-w span {
      background-color: #F7ED85;
      border-radius: 2px;
      font-weight: 400;
      color: #666244;
      padding: 1px 4px;
      font-size: 9px;
      text-transform: uppercase;
      margin-left: 5px;
      vertical-align: middle; }
    #themeControlBar .logo-w i {
      margin-left: 10px;
      font-size: 20px;
      vertical-align: middle; }
  #themeControlBar .buttons-w {
    float: right; }
    #themeControlBar .buttons-w .button-w {
      float: left;
      position: relative;
      margin-right: 20px;
      border-right: 1px solid #454547;
      padding-right: 20px; }
      #themeControlBar .buttons-w .button-w:last-child {
        border-right: none; }

.customize-w {
  position: absolute;
  background-color: #fff;
  width: 250px;
  left: -125px;
  top: 40px;
  color: #111;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.7);
  display: none; }
  .customize-w .close-customizer {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    color: #333; }
    .customize-w .close-customizer:hover {
      color: #108CCE; }
  .customize-w .tiparrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: -8px;
    left: 50%;
    margin-left: -8px;
    border-width: 0px 8px 8px;
    border-bottom-color: #fff; }
  .customize-w h3 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: 300;
    color: #5A5E60; }
  .customize-w select {
    display: block;
    width: 100%;
    font-size: 16px; }
  .customize-w .tip {
    background-color: #F9F1D4;
    border: 1px solid #B5AA82;
    color: #665D3F;
    padding: 4px 10px;
    font-size: 11px;
    margin-top: 30px;
    vertical-align: middle; }
    .customize-w .tip i {
      vertical-align: middle;
      font-size: 20px;
      margin-right: 7px; }
  .customize-w .customize-block.colors {
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    list-style: none;
    text-align: center; }
    .customize-w .customize-block.colors:after {
      content: "";
      display: table;
      clear: both; }
    .customize-w .customize-block.colors li {
      float: left;
      margin-right: 15px; }
      .customize-w .customize-block.colors li .label {
        background-color: #ED4C49;
        font-weight: bold;
        color: #fff;
        padding: 0px 3px;
        border-radius: 4px;
        font-size: 12px; }
      .customize-w .customize-block.colors li:last-child {
        margin-right: 0px; }
  .customize-w .color {
    display: block;
    line-height: 34px;
    border-radius: 4px;
    border: 1px solid #111;
    padding: 3px;
    margin-bottom: 3px; }
    .customize-w .color:after {
      content: "";
      display: table;
      clear: both; }
  .customize-w .color span {
    float: left;
    display: block;
    width: 14px;
    height: 20px; }
  .customize-w .color.active, .customize-w .color:hover {
    box-shadow: 0px 0px 4px 4px #53B7ED; }
  .customize-w .color1 {
    border-radius: 2px 0px 0px 2px; }
  .customize-w .color2 {
    border-radius: 0px 2px 2px 0px; }
  .customize-w .color.color-one .color1 {
    background-color: #fff; }
  .customize-w .color.color-one .color2 {
    background-color: #333; }
  .customize-w .color.color-two .color1 {
    background-color: #96CBE8; }
  .customize-w .color.color-two .color2 {
    background-color: #EAF3F7; }
  .customize-w .color.color-three .color1 {
    background-color: #303233; }
  .customize-w .color.color-three .color2 {
    background-color: #A1C16C; }
  .customize-w .color.color-four .color1 {
    background-color: #c47178; }
  .customize-w .color.color-four .color2 {
    background-color: #f2f0e7; }
  .customize-w .color.color-five .color1 {
    background-color: #D3C8B4; }
  .customize-w .color.color-five .color2 {
    background-color: #703E3B; }

#themeControlBar a.btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-decoration: none;
  color: #fff; }
  #themeControlBar a.btn span {
    vertical-align: middle;
    line-height: 24px; }
  #themeControlBar a.btn i {
    vertical-align: middle;
    font-size: 20px;
    line-height: 24px;
    margin-right: 10px;
    color: #fff; }

.iframe-wrap {
  position: absolute;
  top: 42px;
  left: 0;
  bottom: 0;
  width: 100%; }

iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  position: absolute; }

body.tablet iframe {
  width: 800px;
  left: 50%;
  margin-left: -400px; }

body.phone iframe {
  width: 400px;
  left: 50%;
  margin-left: -200px; }

#menu_position_select, #navigation_type_select {
  margin-bottom: 30px; }

@media (max-width: 767px) {
  .btn-remove-frame {
    padding-right: 0px !important;
    margin-right: 0px !important;
    border-right: none !important; }
    .btn-remove-frame i {
      margin-right: 0px !important; }
    .btn-remove-frame span {
      display: none; }

  .btn-customize {
    display: none; }

  .btn-purchase {
    display: none; }

  .btn-documentation {
    display: none; }

  .btn-ask {
    display: none; } }
@media (min-width: 768px) and (max-width: 992px) {
  .btn-documentation {
    display: none; }

  .btn-ask {
    display: none; } }
.customize-trigger i {
  color: #ffe102 !important;
  display: inline-block;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
.customize-trigger span {
  display: inline-block; }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }

  to {
    -ms-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }
